body{
    background: url('../img/Tiny-Grid-Seamless.jpg')
}

hr {
    background-color: #707070;
    height: 2px;
    border-radius: 2px;
}

.container{
    width: 95%;
}

.container-fluid{
    max-width: 95%;
}

.navbar-brand{
    font-size: 1.7em;
    color: #707070;
}

.header-img{
    height: 40px;
    padding-top: 10px;
}

.panel{
    box-shadow: 0 4px 4px 0 #888888;
}

.home-td{
    text-align: center;
    padding: 15px;
}

.about-text{
    font-size: 1.5em;
    color: #707070;
}

.sites-text{
    font-size: 1.5em;
    color: #707070;
    font-style: normal;
}

textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
}