{% extends 'base.html' %}

<!-- Content Block -->
{% block title %} mattardel.com {% endblock %}

<!-- Content -->
{% block content %}
	<div class="container-fluid">
        <div class="home-content">
            <h1>Home</h1>
            <br>
            <div class="row" style="font-size: 1.5em; color: #707070;">
                <div class="col-sm-3">
                    <img src="{{ url_for('static', filename='img/profile_bb.jpg') }}" class="img-responsive img-rounded" style="box-shadow: 0 4px 4px 0 #888888; max-height:305px; margin:auto;">
                    <br />
                </div>
                <div class="col-sm-9">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2 style="color:black;">Hi, I'm Matthew.</h2>
                            <p>
                                I create websites and software. From the first idea to
                                requirements engineering, prototyping, and
                                implementation, I’m ready to help.
                            </p>
                            <p>
                                My experience lies in software and web development.
                                I’ve worked with HTML, CSS, JavaScript, MySQL, Java,
                                and Python (such as the Flask framework used to
                                create this site!).
                            </p><br/>
                            <div class="btn-group btn-group-justified" style="height: 40px; width:90%; margin:auto;">
                                <a href="/about" class="btn btn-primary" style="padding: 0px;"><span style="font-size: 1em;">About</span></a>
                                <a href="/sites" class="btn btn-primary" style="padding: 0px;"><span style="font-size: 1em;">Portfolio</span></a>
                                <a href="/contact" class="btn btn-primary" style="padding: 0px;"><span style="font-size: 1em;">Contact</span></a>
                                <!--
                                <button type="button" class="btn btn-secondary" onclick="location.href='/about';"><i>About</i></button>
                                <button type="button" class="btn btn-secondary" onclick="location.href='/sites';"><i>Portfolio</i></button>
                                <button type="button" class="btn btn-secondary" onclick="location.href='/contact';"><i>Contact</i></button>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />

            <div class="row" style="font-size: 1.5em; color: #707070;">
                <div class="col-sm-6">
                    <h2 style="color:black;"><i>What I Do</i></h2>
                    <p>Software design, prototyping, and implementation</p>
                    <h2 style="color:black;"><i>For What</i></h2>
                    <p>Websites, web apps, program backends</p>
                    <h2 style="color:black;"><i>Education</i></h2>
                    <p>B.S. in Informatics - UCI 2018</p>
                    <h2 style="color:black;"><i>Experience</i></h2>
                    <p>Professional IT support, server administration, troubleshooting,
                        and creation of various websites and webapps for personal and educational purposes</p>
                </div>
                <div class="col-sm-1"><!--blank spacing div--></div>
                <div class="col-sm-5">
                    <table class="table-responsive" style="margin:auto; border:none;">
                        <tbody>
                            <tr>
                                <td class="home-td"><img src="{{ url_for('static', filename='img/html5_css3_logo.png') }}" class="img-responsive" style="max-height: 100px;"></td>
                                <td class="home-td"><img src="{{ url_for('static', filename='img/wp-logo.png') }}" class="img-responsive" style="max-height: 100px;"></td>
                                <td class="home-td"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table-responsive" style="margin:auto; border:none;"">
                        <tbody>
                            <tr>
                                <td class="home-td"><img src="{{ url_for('static', filename='img/java-logo.png') }}" class="img-responsive" style="max-height: 150px;"></td>
                                <td class="home-td"><img src="{{ url_for('static', filename='img/flask-logo.png') }}" class="img-responsive" style="max-height: 150px;"></td>
                                <td class="home-td"><img src="{{ url_for('static', filename='img/python-logo.png') }}" class="img-responsive" style="max-height: 150px;"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table-responsive" style="margin:auto; border:none;"">
                        <tbody>
                            <tr>
                                <td class="home-td"><img src="{{ url_for('static', filename='img/xd-logo.png') }}" class="img-responsive" style="max-height: 100px;"></td>
                                <td class="home-td"><img src="{{ url_for('static', filename='img/lr-logo.jpg') }}" class="img-responsive" style="max-height: 100px;"></td>
                                <td class="home-td"></td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                </div>
            </div>
            <hr />
            <footer class="page-footer font-small">
                <div class="footer-copyright text-center py-3">© 2018 Copyright: <a href="/contact">Matthew Ardeleanu</a></div>

            </footer>
            <br />
        </div>
	</div>
{% endblock %}